<!-- Home page -->

<section>
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <h3 class="py-3"><small>F</small>oodie <small>D</small>elight</h3>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- Content -->
        <div class="food-detail">
          <p><small>H</small>ealthy Tasty Meals Delivered Daily</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <!-- Add New restaurant button -->
        <button routerLink="/add-restaurant">Add New Restaurant</button>
      </div>
      <div class="col-md-4">
        <!-- View restaurant button  -->
        <button routerLink="/restaurant-list">View Restaurants</button>
      </div>
    </div>
  </div>
</section>
